.gitignore
#
DEV/
SAR-HELP-Microsoft/backup/
# Redundante Dateien im Unterordner
SAR-HELP-Microsoft/Announcement.md
SAR-HELP-Microsoft/BITTE-LESEN.md
SAR-HELP-Microsoft/LICENSE.md
SAR-HELP-Microsoft/LICENSE2.md
SAR-HELP-Microsoft/README.md
# 

